html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  border: 2px;
  margin: 0;
  color: #555;
}

article {

}

article p {

}

article header {
  border: 2px;
  padding: 0 1rem;
}

article h1 {
  font-size: 1.5rem;
  color: #222;
}

article header p {
  font-weight: lighter;
  font-style: italic;
  font-size: 1em;
}

article ol {

}

blockquote {
  font-size: 1.5rem;
  color: #999;
}

.quote {
  font-size: 1.5rem;
  color: #999;
}
